.nav-select, .select {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin: auto;
}
.nav-select {
    margin-top: 10vh;
}
.select ul {
    padding: 0;
}
.select {
    font-size: 1.2rem;
    text-align: center;
}
.select li {
    padding: 5px;
}
.select #list-mat {
    width: 207px;
    box-sizing: border-box;
    background: rgb(146, 207, 218);
    border-radius: 12px;
} 
.select #list-fis {
    background: rgb(146, 207, 218);
    border-radius: 12px;
}
#button-fis, .select #list-fis {
    width: 138px;
    box-sizing: border-box;
}

#button-mat, #button-fis {
    cursor: default;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    background: rgb(146, 207, 218);
    padding: 4px 8px 4px 16px;
    border: none;
    border-radius: 12px;
}

.mat, .fis {
    visibility: hidden;
}
.mat-responsive, .fis-responsive {
    visibility: visible;
}
.select li {
    border-top: 2px solid rgb(248, 254, 255);
    border-radius: 12px;
}
.select li:hover {
    background-color: rgb(92, 160, 160);
    color: rgb(248, 254, 255);
}
.provas {
    text-decoration: none;
    color: #000;
}
#enem-mat, #enem-fis {
    background: rgb(240, 152, 140);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 1px 1px rgb(255, 88, 66);
}
#enem-mat:hover, #enem-fis:hover {
    background-color: rgb(255, 88, 66);
}
.parag-mainmenu {
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    width: 650px;
    text-align: center;
    line-height: 40px;
    margin: auto;
    margin-top: 40px;
    color: rgb(56, 120, 155);
}
.parag-mainmenu span {
    color: rgb(255, 88, 66);
}
.contato {
    font-family: 'Rubik', sans-serif;
    color: #000;
    font-size: 1rem;
    text-align: center;
    position: relative;
    margin-top: 10vh;
}
.button-mobile, .mat-mobile, .fis-mobile {
    display: none;
}

@media screen and (max-width: 475px) {
    .parag-mainmenu {
        font-size: 0.8 rem;
        width: 90vw;
    }
    .nav-select, .select {
        display: none;
    }
    .button-mobile {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        background: rgb(146, 207, 218);
        padding: 4px 8px 4px 16px;
        border: none;
        border-radius: 12px;
        margin: auto;
        margin-top: 20px;
    }
    #button-mat-mobile {
        width: 207px;
        box-sizing: border-box;
    }
    #button-fis-mobile {
        width: 140px;
        box-sizing: border-box;
    }
    .mat-responsive, .fis-responsive {
        display: block;
        text-align: center;
        box-sizing: border-box;
        background: rgb(146, 207, 218);
        padding: 5px;
        border-radius: 12px;
        margin: auto;
    }
    #list-mat-mobile {
        width: 207px;
    }
    #list-fis-mobile {
        width: 140px;
    }
    #list-mat-mobile li, #list-fis-mobile li {
        font-size: 1.2rem;
        padding: 5px;
    }

}