.italic {
    font-style: italic;
}
.strong-rose {
    color: rgb(196, 40, 113);
}
#resp-fis-q92 {
    display: block;
    background: rgb(255, 176, 123);
    text-align: center;
    font-size: 12pt;
    padding: 5px 10px;
    width: 200px;
    border-radius: 5px;
    margin: 5px auto;
    box-sizing: border-box;
}
.img-q94-1 {
    width: 375px;
    margin: 10px auto;
}
.img-q94-2 {
    width: 350px;
    margin: 10px auto;
}
#resp-fis-q94 {
    display: block;
    background: rgb(255, 176, 123);
    text-align: center;
    font-size: 16pt;
    padding: 5px 10px;
    width: 120px;
    border-radius: 5px;
    margin: 5px auto;
    box-sizing: border-box;
}
.eq_img {
    display: flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
#resp-fis-q115 {
    display: block;
    background: rgb(255, 176, 123);
    text-align: center;
    font-size: 14pt;
    padding: 5px 10px;
    width: 300px;
    border-radius: 5px;
    margin: 5px auto;
    box-sizing: border-box;
}