.body-texto {
    background: rgb(248, 254, 255);
    width: 70vw;
    margin: auto;
    line-height: 1.8;
    padding-bottom: 50px;
}
.body-texto h1, .body-texto h2 {
    text-align: center;
}
.img-questao {
    display: block;
    margin: auto;
}
.span {
    font-weight: bold;
}
#parag {
    display: inline;
}
#span {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
#span span {
    visibility: hidden;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(0, 0, 0);
    font-weight: inherit;
    text-align: center;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
#span:hover span {
    visibility: visible;
}
#resposta-q4 {
    display: block;
    width: 100px;
    text-align: center;
    font-size: 16pt;
    background: rgb(255, 176, 123);
    padding: 4px 10px;
    border-radius: 5px;
    margin: auto;
}
#resposta-q10 {
    display: block;
    background: rgb(255, 176, 123);
    text-align: center;
    font-size: 20px;
    padding: 5px 10px;
    width: 300px;
    border-radius: 5px;
    margin: 5px auto;
    box-sizing: border-box;
}
.img-sphere {
    margin: 10px auto;
}
#equations-q13 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: auto;
}
#eq-q13 {
    display: flex;
    font-size: 14pt;
    align-items: center;
    justify-content: space-around;
    width: 380px;
    margin: auto;
}
#resp-q13 {
    background: rgb(255, 176, 123);
    padding: 4px 10px;
    border-radius: 5px;
}
#resposta-q6 {
    display: block;
    background: rgb(255, 176, 123);
    padding: 0 10px;
    border-radius: 5px;
    
}
#equations-q6 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    margin: 5px auto;
}
#eq-resp {
    display: flex;
    font-size: 14pt;
    width: 320px;
    justify-content: space-around;   
    align-items: center;
    margin: auto;
}
#resposta-q9 {
    display: block;
    font-size: 16pt;
    background: rgb(255, 176, 123);
    padding: 5px 10px;
    border-radius: 5px;
}