.questao-choice {
    position: absolute;
    top: 105px;
    left: 4%;
    cursor: default;
}
.questao-choice div img {
    width: 12px;
}
.questao-responsive {
    position: fixed;
    top: 20px;
}
#question-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    text-align: center;
    background: rgb(56, 120, 155);
    color: #fff;
    padding: 6px 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
.question-list {
    display: none;
    padding: 0;
}
.question-list li {
    background: rgb(176, 203, 218);
    width: 120px;
    text-align: center;
    padding: 4px;
    border-top: 2px solid rgb(248, 254, 255);
    border-radius: 10px;
    box-sizing: border-box;
}
.question-list-responsive {
    display: block;
}

.arrow {
    display: block
}
.arrow-hidden {
    display: none;
}

@media screen and (max-width: 1120px) {
    .questao-choice {
        left: 10px;
    }
}
@media screen and (max-width: 925px) {
    .questao-choice {
        display: none;
    }
} 
