header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #fff;
    padding: 16px;
    padding-left: calc(5% + 10px);
    padding-right: calc(5% + 6px);
    border-bottom: 4px solid rgb(56, 120, 155);
}
header h1 {
    display: inline;
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    padding-left: 6px;
}
header img {
    width: 100px;
}
header .nav-header {
    font-size: 0.8rem;
}
header ul {
    padding: 0;
}

.navbar-button, .navbar-clicked {
    display: none;
}
.navbar-colored, .navbar-colored-clicked {
    display: none;
}
.link-header, .logo-link {
    text-decoration: none;
    color: #000;
}
.link-header:hover {
    color: rgb(136, 183, 211);
}

@media screen and (max-width: 925px) {
    .nav-header {
        display: flex;
        width: 200px;
        justify-content: space-between;
    }
    .navbar-button {
        display: block;
        width: 30px;
    }
    .navbar-clicked {
        display: none;
    }
    .navbar-colored-clicked {
        display: block;
        width: 30px;
    }
    #navbar-display-none {
        display: none;
    }
    #menu-header-resp {
        width: fit-content;
    }
}