.resp-enem-q145 {
    display: block;
    background: rgb(255, 176, 123);
    text-align: center;
    font-size: 14pt;
    padding: 5px 10px;
    width: 250px;
    border-radius: 5px;
    margin: 5px auto;
    box-sizing: border-box;
}