.img-eq2:nth-child(1) {
    width: 320px;
}
.img-eq2:nth-child(2) {
    width: 420px;
    margin-bottom: 20px
}
.img-eq4:nth-child(1) {
    margin-top: 20px;
}
.img-eq4:nth-child(2) {
    margin-bottom: 20px;
}
.blue-strong {
    font-weight: bold;
    font-size: large;
    color: rgb(175, 11, 52);
}

#resposta-q24 {
    display: block;
    background: rgb(255, 176, 123);
    text-align: center;
    font-size: 20px;
    padding: 10px 10px;
    width: 320px;
    border-radius: 5px;
    margin: 5px auto;
    box-sizing: border-box;
}
#div-resp-q16 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16pt;
    width: 380px;
    margin: 10px auto;
}
#resp-q16 {
    background: rgb(255, 176, 123);
    text-align: center;
    padding: 5px 5px;
    width: 70px;
    border-radius: 5px;
    box-sizing: border-box;
}
.eq-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 480px;
    margin: auto;
}
#resp {
    display: block;
    background: rgb(255, 176, 123);
    text-align: center;
    font-size: 20px;
    padding: 5px 10px;
    width: 280px;
    border-radius: 5px;
    margin: 5px auto;
    box-sizing: border-box;
}
#div-resp-q21 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14pt;
    width: 380px;
    margin: 10px auto;
}
#resp-q21 {
    background: rgb(255, 176, 123);
    font-size: 22pt;
    text-align: center;
    padding: 5px 10px;
    width: 60px;
    border-radius: 5px;
    box-sizing: border-box;
}

@media screen and (max-width: 475px) {
    .div-eq-1 {
        overflow: auto;
    }
    #div-resp-q16 {
        width: 300px;
        flex-wrap: wrap;
    }
    .eq-img {
        width: 320px;
        flex-wrap: wrap;
    }
    #div-resp-q21 {
        width: 280px;
        flex-wrap: wrap;
    }
}